@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.ttf') format('ttf');
}
:root {
  --font-name: 'Roboto';
  --primary: rgb(101, 92, 213);
  --danger: rgb(244, 92, 92);
	--passive: rgb(100, 107, 121);
  --panel: rgb(35, 35, 40);
  --title: rgb(45, 45, 50);
  --bg: rgb(20, 20, 25);
	--font-size: 1.1rem;
}
html, body {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: rgb(235, 235, 235);
  font-family: var(--font-name);
  font-size: var(--font-size);
  margin: 0;
}
h1, h2, h3, h4, h5, h6, span {
	margin: 0;
	display: inline-block;
}
#app {
	width: 100%;
	height: 100%;
}
.plain {
	background-color: rgb(0,0,0,0);
	color: white;
	border: none;
}
.panel {
	background-color: var(--panel);
	padding: 25px;
	box-sizing: border-box;
}
.danger {
	background-color: var(--danger);
}
.passive {
	background-color: var(--passive);
}
/*
rgb(255, 149, 0);
*/
button {
	font-family: var(--font-name);
	background-color: var(--primary);
	color: white;
    border: none;
    padding: 10px;
    border-radius: 100px;
    font-size: 1rem;
}
button:active {
  transform: scale(0.95);
}
button:disabled {
	background-color: rgb(68, 43, 111);
	transform: none; 
    cursor: not-allowed;
}
select {
	font-family: var(--font-name);
    border-radius: 100px;
    padding: 5px 5px 5px 10px;
    background-color: var(--bg);
    color: rgb(235, 235, 235); 
    font-size: var(--font-size);
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    cursor: pointer;
}
input {
	width: 100%;
	box-sizing: border-box;
	font-family: var(--font-name);
	border-radius: 100px;
	background-color: var(--bg);
    color: rgb(235, 235, 235);
    border: 1px solid rgb(118, 118, 118);
    font-size: var(--font-size);
    padding-left: 10px;
}
textarea {
	width: 100%;
	box-sizing: border-box;
	font-family: var(--font-name);
	border-radius: 15px;
	background-color: var(--bg);
    color: rgb(235, 235, 235);
    border: 1px solid rgb(118, 118, 118);
    font-size: var(--font-size);
    padding-left: 10px;
	resize: none;
}

